* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.6rem;
}

#container {
    margin-top: 10rem;
    width: 80%;
    max-width: 400px;

    margin-inline: auto;
}

h1 {
    margin-top: 4rem;
    margin-bottom: 1rem;
    opacity: 0.9;
}

p {
    margin-bottom: 4rem;
    opacity: 0.7;
}

input,
button {
    display: block;
    width: 100%;

    padding: 2rem;
    font-size: 2rem;

    border-radius: 0.4rem;
}

input {
    margin-bottom: 2rem;
    outline-color: blueviolet;
}

button {
    border: none;
    background-color: blueviolet;
    color: #FFFFFF;

    transition: filter 0.2s;

    cursor: pointer;
}

button:hover {
    filter: brightness(1.2);
}

#response {
    margin-top: 3rem;

    transition: opacity 1s;
}

#response div {
    font-size: 1.6rem;
    font-weight: 400;
    opacity: 0.9;
    margin-bottom: 1rem;
}